<template>
 <div id="app">
    <header>
      </header>
      <main>
        <section class="player">
        <h2 class="song-title">{{ current.title }} - <span>{{ current.artist }}</span></h2>
  <div class="controls">
    <button class="prev" @click="prev">Prev</button>
    <button class="play" v-if="!isPlaying" @click="play">Play</button>
    <button class="pause" v-else @click="pause">Pause</button>
    <button class="next" @click="next">Next</button>
    <div :style="image"></div>
    </div>
    </section>
    <section class="playlist">
    <h2>Upload music</h2>
    <h3>Create Playlist</h3>
    <h1>All songs</h1>
    <button v-for="song in songs" :key="song.src" @click="play(song)" :class="(song.src
    == current.src) ? 'song playing' : 'song'">
      {{ song.title }}   -   {{ song.artist }}   -   {{ song.duration }}
      </button>
  </section>
  </main>
  </div> 
  
</template>

<script>


export default {
  name:'app',
  data () {
    return {
      image: {backgroundImage:"url('https://wallup.net/wp-content/uploads/2017/03/29/495931-headphones-abstract-748x468.jpg')"},
      current: {},
      index:0,
      songs:[
         {
           title: 'Dance Monkey',
           artist:'Tones and I',
           duration:'3.29',
          src: require('./assets/Tones and I-Dance Monkey.mp3')
         },
         {
          title: 'Memories',
          artist:'Maroon 5',
          duration:'3.47',
          src: require('./assets/Maroon 5-Memories.mp3')
         },
         {
           title: 'Unwell',
           artist:'Matchbox Twenty',
           duration:'4.16',
           src: require('./assets/Matchbox Twenty-Unwell.mp3')
         },
        {
           title: 'Make it with you',
           artist:'Ben&Ben',
           duration:'3.49',
           src: require('./assets/Ben&Ben-Make It With You.mp3')
         },
          {
           title: 'Titanium',
           artist:'David Guetta',
           duration:'3.55',
           src: require('./assets/David Guetta-Titanium.mp3')
         },
      ],
      player: new Audio()
    }
    
   }, 
   methods: {
    play (song) {
      if (typeof song.src != "undefined") {
        this.current = song;
        this.player.src = this.current.src;
      }
      this.player.play();
      this.player.addEventListener ('ended', function () {
      this.index++;
      this.index++;
       if (this.index > this.songs.length - 1) {
         this.index = 0;
       }
       this.current = this.songs[this.index];
       this.play(this.current);
      }.bind(this));
      this.isPlaying = true;
    },
     pause () {
         this.player.pause();
         this.isPlaying = false;
     },
     next() {
       this.index++;
       if (this.index > this.songs.length - 1) {
         this.index = 0;
       }
       this.current = this.songs[this.index];
       this.play(this.current);
     },
     prev () {
        this.index--;
       if (this.index < 0){
      this.index = this.songs.length - 1;
        
       }
       this.current = this.songs[this.index];
       this.play(this.current);
     }
   },
      created () {
        this.current = this.songs[this.index];
        this.player.src = this.current.src;
      }
}
</script>

<style>
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
font-family: 'Courier New', Courier, monospace;
 background-color:lightcyan;
}
header {
  display:flex;
  justify-content:center;
  align-items:center;
  padding:15px;
  background-color:cornflowerblue;
  color:black
}
main{
  width:100%;
  max-width: 1300px;
  margin: 0 auto;
  padding:15px;
}

.song-title {
  color:cadetblue;
  font-size:32px;
  font-weight:700;
  text-transform:uppercase;
  text-align: center;

}
.song-title span {
 font-weight:400;
 font-style:italic;

}
.controls {
  display:flex;
  justify-content: center;
  align-items:center;
  padding: 30px 15px;
  bottom:50%;
}
button {
  appearance:none;
  background:none;
  border:none;
  outline:none;
  cursor:pointer;
}
.play {
  font-size:20px;
  font-weight:700;
  padding:15px 25px;
  margin:0px 15px;
  border-radius:8px;
  color:cornsilk;
  background-color:black;
  
 
}
.next, .prev {
  font-size:16px;
  font-weight:700;
  padding:10px 20px;
  margin:0px 15px;
  border-radius:6px;
  color:cornsilk;
  background-color:rgb(129, 52, 52);
}
.playlist {
  padding: 0px 30px;
  }
  .playlist h1 {
    color:coral;
    border-color: chocolate;
    font-size: 35px;
    font-weight:400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom:25px;
    text-align:center;
    margin-top:25px;
  }
  .playlist h2 {
    color:coral;
    border-color: chocolate;
    font-size: 28px;
    font-weight:400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom:15px;
    text-align:left;
    margin-top:10px;

  }
 .playlist h3 {
    color:coral;
    border-color: chocolate;
    font-size: 28px;
    font-weight:400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom:15px;
    text-align:left;
    margin-top:10px;
 }


.playlist .song {
  display:block;
  width: 100%;
  padding: 15px;
  font-size:20px;
  font-weight: 700;
  cursor:pointer;
  text-align:center;
}
.playlist .song:hover {
  color:burlywood;
}
.playlist .song.playing {
  color:black;
  background-image: linear-gradient(to left,cadetblue, cornflowerblue );
  
}

</style>
