*{
	margin:0;
	padding:0;
    box-sizing:border-box;

}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:50vh;
    background-image:url("left3.jpg");
    background:cover;
    background-repeat:no-repeat;
    background-color: gainsboro;
   
}
.music {
    position:relative;
    width:250px;
    background:#333;
   
}
.music .imgbg{
    position:relative;
    width:655px;
    height:600px;
    
}
.music .imgbg img{
  position:absolute;
    top:.0%;
    left:0%;
    width:1050px;
    height:650px;
    object-fit:cover;
}
.music audio{
    width:420%;
    outline:#333;
}
.main-container {
    color:#333;
    height: 100vh;
    width: 100vw;
    padding: 4vh 3vw 19vh 19vw;
}
.search-bar {
    width: 17vw;
    padding: 1vh 1vw 1vh 1vw;
    position:absolute;
    left:1%;
    top:5%;
    font-size: 18px;
    font-family: "Times New Roman", Helvetica, Arial, monospace;  
    border: 3px solid #333;
   border-color: #333;
}

.main{
    max-width:1000px;
    margin:auto;
}

.upload{
    position:absolute;
    left:3%;
    top:20%;
    font-size: 25px;
    color:cadetblue;
    font-family: "Times New Roman", Helvetica, Arial, monospace;  

}
.create{
    position:absolute;
    left:3%;
    top:25%;
    font-size: 25px;
    color:cadetblue;
    font-family: "Times New Roman", Helvetica, Arial, monospace;  
}
.all{
    position:absolute;
    left:3%;
    top:30%;
    font-size: 25px;
    color:black;
    font-family: "Times New Roman", Helvetica, Arial, monospace; 
    }  

h1{
   position:absolute;
    left:20%;
    top:20%;
    font-size: 50px;
    color:black;
    font-family: "Pacific Again", Helvetica, Arial, monospace; 
}
p{
    position:absolute;
    left:3%;
    top:40%;
    font-size: 25px;
    color:black;
    font-family: "Times New Roman", Helvetica, Arial, monospace; 
}  

.modal-container {
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.upload-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #CDC8C6;
    height: 350px;
    width: 500px;
    transform: translate(-50%, -50%);
}

.upload-modal .header {
    background: #7F7671;
    height: 50px;
    width: 100%;
    padding: 10px;
}
.upload-modal .drag-container {
    margin: 24px;
    background: gray;
    height: 170px;
    width: 90%;
}

.upload-modal .drag-container h1 {
    font-size: 23px;
    padding-top: 70px;
    text-align: center;
    color: white;
}

.upload-modal .modal-btn {
    margin-right: 20px;
    margin-top: 30px;
    float: right;
}

.upload-modal div .upload-btn {
    background: #7F7671;
    padding: 5px;
    width: 100px;
    border: none;
    margin-right: 10px;
    font-weight: 800;
}

.upload-modal div .cancel-btn {
    background: white;
    padding: 5px;
    width: 100px;
    border: none;
    margin-right: 10px;
    font-weight: 800;
}

.create-modal-container {
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.create-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #CDC8C6;
    height: 350px;
    width: 500px;
    transform: translate(-50%, -50%);
}

.create-modal .header {
    background: #7F7671;
    height: 50px;
    width: 100%;
    padding: 10px;
}
.create-modal .input-container {
    margin: 24px;
    background: #CDC8C6;
    height: 170px;
    width: 90%;
}

.create-modal .input-container input {
    font-size: 16px;
    padding-left: 13px;
    width: 100%;
    color: gray;
}

.create-modal .modal-btn {
    margin-right: 20px;
    margin-top: 30px;
    float: right;
}

.create-modal div .create-btn {
    background: #7F7671;
    padding: 5px;
    width: 100px;
    border: none;
    margin-right: 10px;
    font-weight: 800;
}

.create-modal div .cancel-btn {
    background: white;
    padding: 5px;
    width: 100px;
    border: none;
    margin-right: 10px;
    font-weight: 800;
}
