
*{
	margin:0;
	padding:0;
    font-family:inherit;
}

ul{
    float:right;
    list-style-type:none;
     position:relative;
    top:10px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration:none;
    color:goldenrod;
    padding:5px 20px;
    border: 1px solid #333;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color:#333;
    color:#fff;
}
ul li.active a{
     background-color:#333;
    color:#333;
}
.logo img{
    float:left;
    width: 150px;
    height:auto;
}
.main{
    max-width: 1300px;
    margin:auto;
}
h6{
    font-family: "Adobe caslon pro", Helvetica, Arial, monospace;
    position:relative;
    top:130px;
}
p {
  margin: 0 0 9px;
  font-family: "Pacific Again", Helvetica, Arial, monospace;
  font-size: 32px;
  line-height: 18px;
    position:relative;
    top:105px;
}
h1 {
  margin: 0;
  font-family: monospace;
  font-weight: bold;
  color: goldenrod;
  text-rendering: auto;
   text-align-last: center;
    position:relative;
    top:100px;
}
a.btn{
    margin: 15px 10px;
    width: 130px;
    padding: 8px;
    border-radius: 15px;
    position:relative;
    top:150px;
}
a.btn-first
{
    background-color: darkgoldenrod;
    border: 1px solid #333;
    color: #fff;
}
a.btn-second{
    background-color: darkgoldenrod;
    border: 1px solid #333;
    color: #fff;
   
    
}

.img-responsive{
    position:relative;
    left:100px;
    top:50px;
}
